.cid-u87MqKSUVM  {
  z-index: 1000;
  width: 100%;
  position: relative;
}
.cid-u87MqKSUVM  .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
@media (max-width: 767px) {
  .cid-u87MqKSUVM  .navbar-toggler {
    transform: scale(0.8);
  }
}
.cid-u87MqKSUVM  .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-u87MqKSUVM  .navbar-brand img {
  max-width: 100%;
  max-height: 100%;
}
.cid-u87MqKSUVM  .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-u87MqKSUVM  .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-u87MqKSUVM  .navbar-nav {
  margin: auto;
  margin-left: 0;
  margin-left: auto;
}
.cid-u87MqKSUVM  .navbar-nav .nav-item {
  padding: 0 !important;
  transition: 0.3s all !important;
}
.cid-u87MqKSUVM  .navbar-nav .nav-item .nav-link {
  padding: 16px !important;
  margin: 0 !important;
  border-radius: 1rem !important;
  transition: 0.3s all !important;
}
.cid-u87MqKSUVM  .navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
.cid-u87MqKSUVM  .navbar-nav .open .nav-link::after {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  .cid-u87MqKSUVM  .navbar-nav .open .nav-link::before {
    content: "";
    width: 100%;
    height: 20px;
    top: 100%;
    background: transparent;
    position: absolute;
  }
}
.cid-u87MqKSUVM  .navbar-nav .dropdown-item {
  padding: 12px !important;
  border-radius: 0.5rem !important;
  margin: 0 8px !important;
  transition: 0.3s all !important;
}
.cid-u87MqKSUVM  .navbar-nav .dropdown-item:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
@media (min-width: 992px) {
  .cid-u87MqKSUVM  .navbar-nav {
    padding-left: 1.5rem;
  }
}
.cid-u87MqKSUVM  .nav-link {
  width: fit-content;
  position: relative;
}
.cid-u87MqKSUVM  .navbar-logo {
  margin: 0 !important;
}
@media (max-width: 767px) {
  .cid-u87MqKSUVM  .navbar-logo {
    padding-left: 0;
  }
}
.cid-u87MqKSUVM  .navbar-caption {
  padding-left: 1rem;
  padding-right: 0.5rem;
}
@media (max-width: 767px) {
  .cid-u87MqKSUVM  .nav-dropdown {
    padding-bottom: 0.5rem;
  }
}
.cid-u87MqKSUVM  .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  transition: 0.3s all;
}
.cid-u87MqKSUVM  .container {
  display: flex;
  height: 90px;
  padding: 0.5rem 0.6rem;
  flex-wrap: nowrap;
  background: rgba(255, 255, 255, 0.8) !important;
  left: 0;
  right: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100vw;
  margin-top: 1rem;
  background-color: #ffffff;
  box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
}
@media (max-width: 992px) {
  .cid-u87MqKSUVM  .container {
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-u87MqKSUVM  .container {
    width: 95%;
    height: 56px !important;
    padding-right: 1rem;
    margin-top: 0rem;
  }
}
.cid-u87MqKSUVM  .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-u87MqKSUVM  .dropdown-menu {
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  padding: 12px 4px !important;
  border-radius: 1.5rem;
  transition: 0.3s all !important;
  min-width: auto;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.8) !important;
}
.cid-u87MqKSUVM  .nav-item:focus,
.cid-u87MqKSUVM  .nav-link:focus {
  outline: none;
}
.cid-u87MqKSUVM  .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-u87MqKSUVM  .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-u87MqKSUVM  .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-u87MqKSUVM  .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-u87MqKSUVM  .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-u87MqKSUVM  .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-u87MqKSUVM  .navbar {
  min-height: 90px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: transparent !important;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.cid-u87MqKSUVM  .navbar.opened {
  transition: all 0.3s;
}
.cid-u87MqKSUVM  .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-u87MqKSUVM  .navbar .navbar-logo img {
  min-width: 6rem;
  object-fit: cover;
}
.cid-u87MqKSUVM  .navbar .navbar-collapse {
  z-index: 1;
  justify-content: flex-end;
}
.cid-u87MqKSUVM  .navbar.collapsed {
  justify-content: center;
}
.cid-u87MqKSUVM  .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-u87MqKSUVM  .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-u87MqKSUVM  .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-u87MqKSUVM  .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-u87MqKSUVM  .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-u87MqKSUVM  .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-u87MqKSUVM  .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-u87MqKSUVM  .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-u87MqKSUVM  .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .cid-u87MqKSUVM  .navbar {
    min-height: 72px;
  }
  .cid-u87MqKSUVM  .navbar .navbar-logo img {
    height: 2.5rem !important;
    min-width: 2.5rem !important;
  }
}
@media (max-width: 991px) {
  .cid-u87MqKSUVM  .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-u87MqKSUVM  .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-u87MqKSUVM  .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-u87MqKSUVM  .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-u87MqKSUVM  .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-u87MqKSUVM  .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-u87MqKSUVM  .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 10px;
  }
  .cid-u87MqKSUVM  .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-u87MqKSUVM  .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-u87MqKSUVM  .navbar.navbar-short .navbar-logo img {
  height: 2rem;
}
.cid-u87MqKSUVM  .dropdown-item.active,
.cid-u87MqKSUVM  .dropdown-item:active {
  background-color: transparent;
}
.cid-u87MqKSUVM  .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-u87MqKSUVM  .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-u87MqKSUVM  .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-u87MqKSUVM  .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-u87MqKSUVM  .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 105%;
  transform: none;
  top: -12px;
}
.cid-u87MqKSUVM  .navbar .dropdown.open > .dropdown-menu {
  display: flex;
}
.cid-u87MqKSUVM  ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-u87MqKSUVM  .navbar-buttons {
  text-align: center;
  min-width: 140px;
}
@media (max-width: 992px) {
  .cid-u87MqKSUVM  .navbar-buttons {
    text-align: left;
  }
}
.cid-u87MqKSUVM  button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-u87MqKSUVM  button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-u87MqKSUVM  button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-u87MqKSUVM  button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-u87MqKSUVM  button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-u87MqKSUVM  button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-u87MqKSUVM  nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-u87MqKSUVM  nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-u87MqKSUVM  nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-u87MqKSUVM  nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-u87MqKSUVM  .navbar-dropdown {
  padding: 0 1rem;
}
.cid-u87MqKSUVM  a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-u87MqKSUVM  .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-u87MqKSUVM  .icons-menu {
    justify-content: flex-start;
    margin-bottom: 0.5rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-u87MqKSUVM  .navbar {
    height: 70px;
  }
  .cid-u87MqKSUVM  .navbar.opened {
    height: auto;
  }
  .cid-u87MqKSUVM  .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-u87MqKSUVM  .navbar .dropdown > .dropdown-menu {
  display: none;
  width: max-content;
  max-width: 500px !important;
  transform: translateX(-50%);
  top: calc(100% + 20px);
  left: 50%;
}
.cid-u87MqKSUVM  .navbar .dropdown > .dropdown-menu .dropdown-item {
  line-height: 1 !important;
}
.cid-u87MqKSUVM  .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
  align-items: center;
  display: flex;
  height: max-content !important;
  min-height: max-content !important;
}
.cid-u87MqKSUVM  .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
  display: inline-block;
  position: static;
  margin-left: 0.5rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  transition: 0.3s all;
  transform: rotate(-90deg);
}
.cid-u87MqKSUVM  .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
  transform: rotate(0deg);
}
.cid-u87MqKSUVM  .mbr-section-btn {
  margin: -0.6rem -0.6rem;
}
.cid-u87MqKSUVM  .navbar-toggler {
  margin-left: 12px;
  margin-right: 8px;
  order: 1000;
}
@media (max-width: 991px) {
  .cid-u87MqKSUVM  .navbar-brand {
    margin-right: auto;
  }
  .cid-u87MqKSUVM  .navbar-collapse {
    z-index: -1 !important;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    background: #ffffff;
    opacity: 1;
    border-color: rgba(255, 255, 255, 0.8) !important;
    background: rgba(255, 255, 255, 0.8) !important;
    backdrop-filter: blur(8px);
  }
  .cid-u87MqKSUVM  .navbar-nav .nav-item .nav-link::after {
    margin-left: 10px;
  }
  .cid-u87MqKSUVM  .navbar-nav .dropdown-item:hover {
    background-color: rgba(27, 31, 10, 0.06);
  }
  .cid-u87MqKSUVM  .navbar .dropdown > .dropdown-menu {
    max-width: 100% !important;
    transform: translateX(0);
    top: 10px;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-u87MqKSUVM  .navbar .dropdown > .dropdown-menu .dropdown-item {
    padding: 8px !important;
    line-height: 1 !important;
    margin-bottom: 4px !important;
  }
  .cid-u87MqKSUVM  .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
    align-items: center;
    display: flex;
    height: max-content !important;
    min-height: max-content !important;
  }
  .cid-u87MqKSUVM  .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
    display: inline-block;
    position: static;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    transition: 0.3s all;
    transform: rotate(0deg);
  }
  .cid-u87MqKSUVM  .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
    transform: rotate(180deg);
  }
  .cid-u87MqKSUVM  .navbar .dropdown > .dropdown-menu .dropdown-submenu {
    position: static;
    width: 100%;
    max-width: 100% !important;
    transform: translateX(0) !important;
    top: 0;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-u87MqKSUVM  .navbar .dropdown.open > .dropdown-menu {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 575px) {
  .cid-u87MqKSUVM  .navbar-collapse {
    padding: 1rem;
  }
}

.cid-u87MqKS3DT {
  display: flex;
  background-image: url("images/home-bg.jpg");
}
.cid-u87MqKS3DT .mbr-overlay {
  background-color: #000000;
  opacity: 0.5;
}
@media (min-width: 768px) {
  .cid-u87MqKS3DT {
    align-items: flex-end;
  }
  .cid-u87MqKS3DT .row {
    justify-content: center;
  }
  .cid-u87MqKS3DT .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-u87MqKS3DT .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-u87MqKS3DT {
    -webkit-align-items: center;
    align-items: flex-end;
  }
  .cid-u87MqKS3DT .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-u87MqKS3DT .content-wrap {
    width: 100%;
  }
}
.cid-u87MqKS3DT .mbr-section-title,
.cid-u87MqKS3DT .mbr-section-subtitle {
  text-align: center;
}
.cid-u87MqKS3DT .mbr-text,
.cid-u87MqKS3DT .mbr-section-btn {
  text-align: center;
}
.cid-u87MqKTz54 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: transparent;
}
.cid-u87MqKTz54 .mbr-fallback-image.disabled {
  display: none;
}
.cid-u87MqKTz54 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u87MqKTz54 .mbr-text {
  color: #000000;
}
.cid-u87MqKTz54 .mbr-section-subtitle {
  color: #ffffff;
  text-align: left;
}
.cid-u87MqKTz54 .main-button {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-u87MqKTz54 .main-button {
    margin-bottom: 2rem;
  }
}
.cid-u87MqKTz54 .mbr-section-subtitle,
.cid-u87MqKTz54 .main-button {
  color: #000000;
}
.cid-u87MqKTDvN {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: transparent;
}
.cid-u87MqKTDvN .mbr-fallback-image.disabled {
  display: none;
}
.cid-u87MqKTDvN .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u87MqKTDvN .card-wrapper {
  background: var(--dominant-color, #393193);
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-u87MqKTDvN .card-wrapper {
    padding: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-u87MqKTDvN .card-wrapper {
    padding: 2.25rem;
  }
}
@media (min-width: 992px) {
  .cid-u87MqKTDvN .card-wrapper {
    padding: 4rem;
  }
}
.cid-u87MqKTDvN .mbr-text,
.cid-u87MqKTDvN .mbr-section-btn {
  color: #ffd7ef;
}
.cid-u87MqKTDvN .card-title,
.cid-u87MqKTDvN .card-box {
  text-align: center;
  color: var(--dominant-text, #ffd7ef);
}
.cid-u87MqKTHoF {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-u87MqKTHoF .mbr-fallback-image.disabled {
  display: none;
}
.cid-u87MqKTHoF .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u87MqKTHoF .title .num {
  width: 100%;
  display: block;
}
.cid-u87MqKTHoF .title .card-title {
  z-index: 1;
}
.cid-u87MqKTHoF .num {
  color: var(--primary-color, #9fe870);
  text-align: center;
}
.cid-u87MqKTHoF .item-mb {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-u87MqKTHoF * {
    text-align: center !important;
  }
  .cid-u87MqKTHoF .content-column {
    margin-bottom: 2rem;
  }
}
.cid-u87MqKTHoF .content-head {
  max-width: 800px;
}
.cid-u87MqKTHoF .card-text {
  text-align: center;
}
.cid-u87MqKTHoF .card-title,
.cid-u87MqKTHoF .card-img {
   text-align: center;
}
.cid-u87MqKTPIw {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-u87MqKTPIw .mbr-fallback-image.disabled {
  display: none;
}
.cid-u87MqKTPIw .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-u87MqKTPIw .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-u87MqKTPIw .row {
  flex-direction: row-reverse;
}
.cid-u87MqKTPIw .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-u87MqKTPIw .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-u87MqKTPIw .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-u87MqKTPIw .mbr-section-title {
  color: #000000;
}
.cid-u87MqKTPIw .mbr-text,
.cid-u87MqKTPIw .mbr-section-btn {
  color: #000000;
}
.cid-u87MqKUvSE {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-u87MqKUvSE .item:focus,
.cid-u87MqKUvSE span:focus {
  outline: none;
}
.cid-u87MqKUvSE .item {
  cursor: pointer;
}
.cid-u87MqKUvSE .grid-container {
  grid-row-gap: 2rem;
}
@media (max-width: 767px) {
  .cid-u87MqKUvSE .grid-container {
    grid-row-gap: 1rem;
  }
}
.cid-u87MqKUvSE .grid-container-1,
.cid-u87MqKUvSE .grid-container-2,
.cid-u87MqKUvSE .grid-container-3 {
  gap: 0 2rem;
}
@media (max-width: 767px) {
  .cid-u87MqKUvSE .grid-container-1,
  .cid-u87MqKUvSE .grid-container-2,
  .cid-u87MqKUvSE .grid-container-3 {
    gap: 0 1rem;
  }
}
.cid-u87MqKUvSE .mbr-section-title {
  color: #000000;
}
.cid-u87MqKUvSE .mbr-text,
.cid-u87MqKUvSE .mbr-section-btn {
  color: #000000;
}
.cid-u87MqKUvSE .content-head {
  max-width: 800px;
}
.cid-u87MqKUvSE .container,
.cid-u87MqKUvSE .container-fluid {
  overflow: hidden;
}
.cid-u87MqKUvSE .grid-container {
  display: grid;
  transform: translate3d(-3rem, 0, 0);
  width: 115vw;
  grid-column-gap: 1rem;
}
.cid-u87MqKUvSE .grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-u87MqKUvSE .grid-item img {
  min-width: 30vw;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-u87MqKUvSE .grid-item img {
    min-width: 35vw;
  }
}
.cid-u87MqKUvSE .grid-container-1,
.cid-u87MqKUvSE .grid-container-2,
.cid-u87MqKUvSE .grid-container-3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}
.cid-u87MqKUvSE .grid-container-1 {
  align-items: flex-end;
}
.cid-u87MqKUvSE .grid-container-2 {
  align-items: flex-start;
}
.cid-u87MqKUwfU {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: transparent;
}
.cid-u87MqKUwfU .mbr-iconfont {
  font-size: 1.2rem !important;
  font-family: 'Moririse2' !important;
  color: white;
  transition: all 0.3s;
  transform: rotate(180deg);
}
.cid-u87MqKUwfU .panel-group {
  border: none;
}
.cid-u87MqKUwfU .card-header {
  padding: 1.2rem 0.5rem;
}
@media (max-width: 767px) {
  .cid-u87MqKUwfU .card-header {
    padding: 1rem 0rem;
  }
}
.cid-u87MqKUwfU .panel-body {
  padding: 0 0.5rem;
  padding-bottom: 1rem;
}
@media (max-width: 767px) {
  .cid-u87MqKUwfU .panel-body {
    padding: 0rem;
    padding-bottom: 1rem;
  }
}
.cid-u87MqKUwfU .img-col {
  padding: 0;
}
.cid-u87MqKUwfU .img-item {
  height: 100%;
}
.cid-u87MqKUwfU img {
  height: 100%;
  object-fit: cover;
}
.cid-u87MqKUwfU .collapsed span {
  transform: rotate(0deg);
}
.cid-u87MqKUwfU .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-u87MqKUwfU p {
  margin-bottom: 0.3rem;
}
.cid-u87MqKUwfU .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
  border: 0;
  border-radius: 2rem;
}
.cid-u87MqKUwfU .card {
  background: #ffffff;
  padding: 1rem 2rem;
  border-radius: 2rem;
}
@media (max-width: 767px) {
  .cid-u87MqKUwfU .card {
    padding: 1.5rem;
  }
}
.cid-u87MqKUwfU .panel-text {
  color: #000000;
}
.cid-u87MqKUwfU .mbr-section-title {
  text-align: center;
  color: #000000;
}
.cid-u87MqKUwfU .mbr-section-subtitle {
  color: #000000;
  text-align: center;
}
.cid-u87MqKUwfU .panel-title-edit,
.cid-u87MqKUwfU .mbr-iconfont {
  color: #000000;
}
.cid-u87MqKUF0L .mbr-fallback-image.disabled {
  display: none;
}
.cid-u87MqKUF0L .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: #000000;
}
.cid-u87MqKUUCA {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-u87MqKUUCA .item-wrapper img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50% !important;
}
.cid-u87MqKUUCA .item-wrapper {
  margin-bottom: 2rem;
}
.cid-u87MqKUUCA .card-title,
.cid-u87MqKUUCA .iconfont-wrapper {
  color: #000000;
}
.cid-u87MqKUUCA .card-text {
  color: #000000;
  text-align: center;
}
.cid-u87MqKUUCA .content-head {
  max-width: 800px;
}
.cid-u87MqKUUCA .mbr-section-title {
  color: #000000;
}
.cid-u87MqKUUCA .card-title,
.cid-u87MqKUUCA .img-wrapper {
  text-align: center;
}
.cid-u87MqKUUCA .img-wrapper {
  display: flex;
  justify-content: center;
}
.cid-u87MqKULjD {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-u87MqKULjD .item-subtitle {
  line-height: 1.2;
  color: #000000;
  text-align: center;
}
.cid-u87MqKULjD img,
.cid-u87MqKULjD .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-u87MqKULjD .item:focus,
.cid-u87MqKULjD span:focus {
  outline: none;
}
.cid-u87MqKULjD .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-u87MqKULjD .item {
    margin-bottom: 1rem;
  }
}
.cid-u87MqKULjD .item-wrapper {
  position: relative;
  border-radius: 4px;
  display: flex;
  flex-flow: column nowrap;
}
.cid-u87MqKULjD .mbr-section-btn {
  margin-top: auto !important;
}
.cid-u87MqKULjD .mbr-section-title {
  color: #000000;
}
.cid-u87MqKULjD .mbr-text,
.cid-u87MqKULjD .mbr-section-btn {
  color: #000000;
  text-align: center;
}
.cid-u87MqKULjD .item-title {
  color: #000000;
}
.cid-u87MqKULjD .content-head {
  max-width: 800px;
}
.cid-u87MqKUOR7 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-u87MqKUOR7 .item:focus,
.cid-u87MqKUOR7 span:focus {
  outline: none;
}
.cid-u87MqKUOR7 .container-fluid {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}
.cid-u87MqKUOR7 .content-head {
  max-width: 800px;
}
.cid-u87MqKUOR7 .item {
  color: #232323;
  min-height: 90px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .cid-u87MqKUOR7 .item {
    min-height: 45px;
  }
}
.cid-u87MqKU2ia {
  overflow: hidden;
  background-image: url("images/photo-1571626885399-f489d5f60729.jpg");
}
.cid-u87MqKUotR {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-u87MqKUotR .mbr-fallback-image.disabled {
  display: none;
}
.cid-u87MqKUotR .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u87MqKUotR .bg-facebook {
  background: #1778f2;
  color: #ffffff;
}
.cid-u87MqKUotR .bg-facebook:hover {
  background: #0b60cb;
}
.cid-u87MqKUotR .bg-twitter {
  background: #1da1f2;
  color: #ffffff;
}
.cid-u87MqKUotR .bg-twitter:hover {
  background: #0c85d0;
}
.cid-u87MqKUotR .bg-instagram {
  background: #f00075;
  color: #ffffff;
}
.cid-u87MqKUotR .bg-instagram:hover {
  background: #bd005c;
}
.cid-u87MqKUotR .bg-tiktok {
  background: #000000;
  color: #ffffff;
}
.cid-u87MqKUotR .bg-tiktok:hover {
  background: #000000;
}
.cid-u87MqKUotR .iconfont-wrapper {
  display: inline-block;
  font-size: 32px;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  line-height: 72px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.cid-u87MqKUotR [class^="socicon-"]:before,
.cid-u87MqKUotR [class*=" socicon-"]:before {
  line-height: 55px;
  padding: .6rem;
}
.cid-u87MqKUoyn {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: transparent;
}
.cid-u87MqKUoyn .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-u87MqKUoyn form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-u87MqKUoyn form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-u87MqKUoyn form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-u87MqKUoyn .content-head {
  max-width: 800px;
}
.cid-u87MqKUNBd .main_wrapper {
  position: relative;
  height: 800px;
  width: 100%;
}
.cid-u87MqKUNBd .b_wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  pointer-events: none;
}
@media (max-width: 991px) {
  .cid-u87MqKUNBd .b_wrapper {
    position: relative;
    width: 100%;
    height: auto !important;
    flex-direction: column;
  }
}
.cid-u87MqKUNBd .row {
  margin: 0;
}
@media (max-width: 991px) {
  .cid-u87MqKUNBd .container-fluid {
    padding: 0;
  }
}
.cid-u87MqKUNBd .item-wrapper {
  height: 100%;
  background-color: #ffffff;
  pointer-events: fill;
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-u87MqKUNBd .item-wrapper {
    padding: 1.5rem;
  }
}
@media (max-width: 991px) {
  .cid-u87MqKUNBd .item-wrapper {
    width: 100%;
    position: relative;
    padding: 2rem;
    border-radius: 0px !important;
  }
}
.cid-u87MqKUNBd .google-map {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.cid-u87MqKUNBd .google-map iframe {
  height: 100%;
  width: 100%;
  border-radius: 0px !important;
}
.cid-u87MqKUNBd .google-map [data-state-details] {
  color: #edefeb;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-u87MqKUNBd .google-map[data-state] {
  background: #edefeb;
}
.cid-u87MqKUNBd .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
@media (max-width: 991px) {
  .cid-u87MqKUNBd .google-map {
    position: static;
  }
}
.cid-u87MqKUNBd ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.cid-u87MqKVfCy {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #000000;
}
.cid-u87MqKVfCy .mbr-fallback-image.disabled {
  display: none;
}
.cid-u87MqKVfCy .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u87MqKVfCy .copyright {
  color: #ffffff;
  text-align: left;
}
.cid-u87MqKVfCy .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 991px) {
  .cid-u87MqKVfCy .row {
    flex-direction: column-reverse !important;
  }
  .cid-u87MqKVfCy .row .copyright {
    margin: 1rem 0 0 0;
  }
}
.cid-u87MqKVfCy .row-links {
  width: 100%;
  justify-content: center;
}
.cid-u87MqKVfCy .row-links .row-links-soc {
  list-style: none;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .cid-u87MqKVfCy .row-links .row-links-soc {
    justify-content: center;
  }
}
.cid-u87MqKVfCy .row-links .row-links-soc li {
  padding: 0 1rem 0rem 1rem;
}
@media (max-width: 767px) {
  .cid-u87MqKVfCy .row-links .row-links-soc li {
    padding: 0 1rem 1rem 1rem;
  }
}
.cid-u87MqKVfCy .row-links .row-links-soc li p {
  margin: 0;
}
@media (max-width: 991px) {
  .cid-u87MqKVfCy .copyright {
    text-align: center;
  }
}
